// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Sets title page styling 

.d-flex{
    
    font-weight: 600;
    font-size: large;
    h1 {
       
        margin-bottom: 8vh;
        color: white;
    }
    p{
        width: 60vw;
        margin-bottom: 8vh;
        background-color: black;
        color: white;}
    img{
        
        height: 50vh;
        width: 60vh;
        border-style: solid;
        border-color: black;
        border-width: 1vh;
    }
   
    
}
.background{
    

    height: 100vh;
    background-image: url(image-path('background.jpg'));
    background-size: cover;
}
